<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kodlar.buhar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EBakkal">
        <activity
            android:name=".ui.manavpckg.Manav2"
            android:label="@string/title_activity_manav2"
            android:theme="@style/Theme.EBakkal.NoActionBar"></activity>
        <activity
            android:name=".ui.atistirmalikpcg.Atistirmalik2"
            android:label="@string/title_activity_atistirmalik2"
            android:theme="@style/Theme.EBakkal.NoActionBar" />
        <activity
            android:name=".Atistirmalik2"
            android:label="@string/title_activity_atistirmalik2"
            android:theme="@style/Theme.EBakkal.NoActionBar" />
        <activity
            android:name=".ui.iceceklerpcg.icecekler2"
            android:label="@string/title_activity_icecekler2"
            android:theme="@style/Theme.EBakkal.NoActionBar" />
        <activity android:name=".KullaniciKayit" />
        <activity
            android:name=".AramaEkrani"
            android:label="@string/title_activity_arama_ekrani"
            android:theme="@style/Theme.EBakkal.NoActionBar" />
        <activity
            android:name=".Icecekler"
            android:label="@string/title_activity_icecekler"
            android:theme="@style/Theme.EBakkal.NoActionBar" />
        <activity
            android:name=".Temel_Gida"
            android:label="@string/title_activity_temel__gida"
            android:theme="@style/Theme.EBakkal.NoActionBar" />
        <activity
            android:name=".Kahvaltilik"
            android:label="@string/title_activity_kahvaltilik"
            android:theme="@style/Theme.EBakkal.NoActionBar" />
        <activity
            android:name=".Ekmek"
            android:label="@string/title_activity_ekmek"
            android:theme="@style/Theme.EBakkal.NoActionBar" />
        <activity
            android:name=".Et"
            android:label="@string/title_activity_et"
            android:theme="@style/Theme.EBakkal.NoActionBar" />
        <activity
            android:name=".Temizlik"
            android:label="@string/title_activity_temizlik"
            android:theme="@style/Theme.EBakkal.NoActionBar" />
        <activity
            android:name=".Kisisel"
            android:label="@string/title_activity_kisisel"
            android:theme="@style/Theme.EBakkal.NoActionBar" />
        <activity
            android:name=".Manav"
            android:label="@string/title_activity_manav"
            android:theme="@style/Theme.EBakkal.NoActionBar" />
        <activity android:name=".AnaEkran" />
        <activity android:name=".GirisEkrani">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>